@import "../../Utils/variable.scss";

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  src: url("../../Utils/IBMPlexSans-Regular.ttf");
}

.trigger {
  .trigger-container {
    height: 32px;
    border-radius: 24px;
    background-color: $reaction-bg-color;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5px);
    top: 0px;
    display: flex;
    align-items: center;

    .emoji-container {
      display: flex;
      justify-content: center;
      .reaction-tooltip {
        display: none;
        background: $tooltip-background;
        border-radius: 100px;
        height: 24px;
        padding: 4px 8px;
        font-size: 12px;
        color: $tooltip-font;
        font-family: "IBMPlexSans";
      }
      &:hover > .reaction-tooltip {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -40px;
        transition: 0.2s;
      }
      &:first-child {
        .reaction-emoji {
          padding-left: 20px;
        }
      }
      &:last-child {
        .reaction-emoji {
          padding-right: 20px;
        }
      }

      .reaction-emoji {
        width: 16px;
        height: 16px;
        font-size: 14px;
        padding: 0px 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;

        &:hover {
          font-size: 28px;
          transform: translate(0, -5px);
        }
      }
    }
  }
  .reaction-btn-container {
    border: 1px solid $border-color;
    border-right: none;
    border-left: none;
    padding: 10px 0px;
    cursor: pointer;

    &:hover {
      background: #ffffff0a;
    }
    .active-like {
      color: #febf34;
      font-weight: bold;
    }
    .like-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;

      .like-icon {
        width: 16px;
        margin-right: 5px;
      }
    }
  }
}
