@import "../../Utils/variable.scss";

.reaction-summary {
  padding: 10px;
  display: flex;
  align-items: center;

  .emoji-container {
    .summary-emoji {
      width: 14px;
      height: 14px;
      background: $primary-color;
      border-radius: 50%;
      font-size: 16px;
      cursor: pointer;
    }
    &:hover > .tooltip {
      display: flex;
      transition: 0.2s;
    }
  }
  .tooltip {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 40px;
    border-radius: 5px;
    background: $user-tooltip-bg;
    width: 120px;
    padding: 15px 10px;
    font-size: 12px;
    color: $user-tooltip-font;
    font-family: "IBMPlexSans";
    transform: translateY(100%);
  }

  .count {
    margin-left: 5px;
    font-size: 14px;
    &:hover > .tooltip {
      display: flex;
      transition: 0.2s;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
