@import "../../Utils/variable.scss";

.reaction-container {
  background-color: $primary-color;
  color: $font-color;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
  padding: 3px 5px;
  position: relative;
  border-radius: 5px;
}
