$primary-color: #242527;
$font-color: #bebec3;
$border-color: #3d3e40;
$reaction-bg-color: #000000;
$tooltip-background: #161616;
$tooltip-font: #ffffff;
$user-tooltip-bg: #cacacae3;
$user-tooltip-font: #161616;
$active-color: #007aff;
