@import "../../Utils/variable.scss";

.user-detail {
  width: 450px;
  // height: 450px;
  // overflow-y: scroll;
  position: absolute;
  transform: translateX(-25%);
  background: $primary-color;
  border-radius: 15px;

  .header {
    border-bottom: 1px solid $border-color;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-option-container {
      .header-option {
        font-size: 20px;
        padding: 15px;
        cursor: pointer;

        &.active {
          border-bottom: 4px solid $active-color;
        }
        &:hover {
          background: #ffffff1a;
        }
      }
    }
    .close-icon {
      width: 30px;
      padding: 15px;
      cursor: pointer;
    }
  }

  .user-detail-container {
    height: 450px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: grey;
      border-radius: 10px;
    }
  }

  .user-detail-reactions {
    display: flex;
    align-items: center;
    margin: 20px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    .user-data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;

      span {
        margin: 5px 0px;
      }
    }
  }
}
